[submodule "vox"]
	path = vox
	url = http://github.com/EVGESHAd/GoldSrcVox
[submodule "thr"]
	path = thr
	url = https://github.com/mtrebi/thread-pool
[submodule "win32-deps"]
	path = win32-deps
	url = https://github.com/EVGESHAd/vk-cpp-bot-win32deps
[submodule "win32deps"]
	path = win32deps
	url = http://github.com/evgeshad/vk-cpp-bot-win32deps
[submodule "py"]
	path = py
	url = https://github.com/EVGESHAd/vk-cpp-bot-py
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
